html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body{
background-color:#FA9837;
font-family: "Cinzel", serif;
}
main{
    background-color:#F7C15E;
    width:80vw;
    text-align: center;
    margin-top: 40px;
    margin-right: auto;
    margin-bottom: 40px;
    margin-left: auto;
    /*shorthand */
    margin: 40px auto;
    margin: 40px auto 40px auto;
    border: 2px solid #FA7D00;
    border-radius: 10px
}
header.primary{
background-color:#FA7D00;
padding: 20px;
background-image: url("../img/202656822_969a42a0-a1b6-49ca-901a-f5a0afab071d.jpg"); 
background-repeat:no-repeat; 
background-size:cover;
background-position:center;
border:3px solid #0ABFBF;
display: flex;
}
div.hgroup{
  width: 70%;
  text-align: left;
}
header.primary nav{
width: 30%
}
    flex-grow: 1;
    text-align: left;
div.hgroup h1 a{
    color: #FFFFFF;
    text-decoration: none;
    font-size:2.5rem;
  text-shadow: 2px 2px #000;
}

div.hgroup h2{
color:#ffffff;
text-shadow: 2px 2px #000;  
}