html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body{
background-color:#593A1E;
  font-family: "Merriweather", serif;
  font-optical-sizing: auto;
}
main{
    background-color:#F2E9D8;
    width:80vw;
    text-align: center;
    margin-top: 40px;
    margin-right: auto;
    margin-bottom: 40px;
    margin-left: auto;
    /*shorthand */
    margin: 40px auto;
    margin: 40px auto 40px auto;
    border: 3px solid#260101;
    border-radius: 10px
}
header.primary{
background-color:#593F2F;
padding: 20px;
background-image: url("../img/nature-2616486_1280.jpg"); 
background-repeat:no-repeat; 
background-size:cover;
background-position:center;
border:3px solid #260101;
display: flex;
justify-content:space-between;  
}
div.hgroup{
  width: 70%;
  text-align: left;
}
header.primary nav{
width: 30%
}

div.hgroup h1 a{
  color:#260101;
  text-decoration:none;
  font-size:2.5rem;
  text-shadow: 2px 2px #000;
}

div.hgroup h2{
color:#D9D2AD;
text-shadow: 2px 2px #000;  
}
