html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
/* ------------  Utlity Classes -----------------*/

.container{
  margin:auto;
  padding:40px;
}
body{
background-color:#593A1E;
  font-family: "Merriweather", serif;
  font-optical-sizing: auto;
}
main{
    background-color:#F2E9D8;
    width:80vw;
    max-width:980px;;
    margin-top: 40px;
    margin-right: auto;
    margin-bottom: 40px;
    margin-left: auto;
    /*shorthand */
    margin: 40px auto;
    margin: 40px auto 40px auto;
    border: 2px solid#260101;
    border-radius: 5px
}
header.primary{
background-color:#593F2F;
padding: 20px;
background-image: url("../img/nature-2616486_1280.jpg"); 
background-repeat:no-repeat; 
background-size:cover;
background-position:center;
border:3px solid #260101;
display: flex;
justify-content:space-between;  
}
div.hgroup{
  width: 70%;
  text-align: left;
}
header.primary nav{
width: 30%;
}

header.primary nav ul{
  list-style-type:none;
  margin:0;
  padding:0;
}
header.primary nav ul li a{
  color:#fff;
  display: block;
  margin-bottom: 10px;
  background: rgba(0,0,0,0.6);
  border: 1px solid #260101;
  border-right:10px solid #260101;
  border-radius:20px 0;
  padding: 10px 10px 10px 0;
  text-align: right;
  font-size:1.0rem;
  text-decoration:none;
  text-shadow:2px 1px #000;
  transition: 0.5s;
}
header.primary nav ul li a:hover{
  text-decoration:underline;
  background: rgba(0,0,0,.9);
}
div.hgroup h1 a{
  color:#D9D2AD;
  text-decoration:none;
  font-size:2.5rem;
  text-shadow: 4px 2px #260101;
} 
div.hgroup h2{
color:#D9D2AD;
text-shadow: 2px 2px #260101;  
}
.hgroup h1, .hgroup h2{
  margin:0;
}

#content{
line-height:1.6;
}
#content h2,#content h3{
  color:#593A1E;
  border-left:7.5px solid #260101;
  border-radius:15px 0;
  padding:5px 7.5px 0 5px;
}